<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">📚 PathShala</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/borrowers">Add User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/borrow_book">Borrow a Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/borrowed_books">Borrowed Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/available_books">Available Books</a>
                </li>
            </ul>
        </div>
    </div>
</nav>